Routing/Loader/schema/routing/routing-1.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xsd:schema xmlns="http://symfony.com/schema/routing"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://symfony.com/schema/routing"
    elementFormDefault="qualified">

  <xsd:annotation>
    <xsd:documentation><![CDATA[
      Symfony XML Routing Schema, version 1.0
      Authors: Fabien Potencier, Tobias Schultze

      This scheme defines the elements and attributes that can be used to define
      routes. A route maps an HTTP request to a set of configuration variables.
    ]]></xsd:documentation>
  </xsd:annotation>

  <xsd:element name="routes">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="router" maxOccurs="unbounded" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="add" maxOccurs="unbounded" minOccurs="0">
                <xsd:complexType mixed="true">
                  <xsd:sequence>
                    <xsd:element name="option" maxOccurs="unbounded" minOccurs="0">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute type="xsd:string" name="key" use="optional"/>
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute type="xsd:string" name="id" use="optional"/>
                  <xsd:attribute type="xsd:string" name="controller" use="optional"/>
                  <xsd:attribute type="xsd:string" name="module" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="get" maxOccurs="unbounded" minOccurs="0">
                <xsd:complexType mixed="true">
                  <xsd:sequence>
                    <xsd:element name="option" maxOccurs="unbounded" minOccurs="0">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute type="xsd:string" name="key" use="optional"/>
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute type="xsd:string" name="id" use="optional"/>
                  <xsd:attribute type="xsd:string" name="controller" use="optional"/>
                  <xsd:attribute type="xsd:string" name="module" use="optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="post" minOccurs="0">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute type="xsd:string" name="id"/>
                      <xsd:attribute type="xsd:string" name="controller"/>
                      <xsd:attribute type="xsd:string" name="module"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="group" maxOccurs="unbounded" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="option" maxOccurs="unbounded" minOccurs="0">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute type="xsd:string" name="key" use="optional"/>
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="add" maxOccurs="unbounded" minOccurs="0">
                      <xsd:complexType mixed="true">
                        <xsd:sequence>
                          <xsd:element name="option" maxOccurs="unbounded" minOccurs="0">
                            <xsd:complexType>
                              <xsd:simpleContent>
                                <xsd:extension base="xsd:string">
                                  <xsd:attribute type="xsd:string" name="key" use="optional"/>
                                </xsd:extension>
                              </xsd:simpleContent>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute type="xsd:string" name="id" use="optional"/>
                        <xsd:attribute type="xsd:string" name="controller" use="optional"/>
                        <xsd:attribute type="xsd:string" name="module" use="optional"/>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="get" maxOccurs="unbounded" minOccurs="0">
                      <xsd:complexType mixed="true">
                        <xsd:sequence>
                          <xsd:element name="option" minOccurs="0">
                            <xsd:complexType>
                              <xsd:simpleContent>
                                <xsd:extension base="xsd:byte">
                                  <xsd:attribute type="xsd:string" name="key"/>
                                </xsd:extension>
                              </xsd:simpleContent>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute type="xsd:string" name="id" use="optional"/>
                        <xsd:attribute type="xsd:string" name="controller" use="optional"/>
                        <xsd:attribute type="xsd:string" name="module" use="optional"/>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="post">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute type="xsd:string" name="id" use="optional"/>
                            <xsd:attribute type="xsd:string" name="controller" use="optional"/>
                            <xsd:attribute type="xsd:string" name="module" use="optional"/>
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="group" maxOccurs="unbounded" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="add" maxOccurs="unbounded" minOccurs="0">
                            <xsd:complexType mixed="true">
                              <xsd:sequence>
                                <xsd:element name="option" maxOccurs="unbounded" minOccurs="0">
                                  <xsd:complexType>
                                    <xsd:simpleContent>
                                      <xsd:extension base="xsd:string">
                                        <xsd:attribute type="xsd:string" name="key" use="optional"/>
                                      </xsd:extension>
                                    </xsd:simpleContent>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                              <xsd:attribute type="xsd:string" name="id" use="optional"/>
                              <xsd:attribute type="xsd:string" name="controller" use="optional"/>
                              <xsd:attribute type="xsd:string" name="module" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="get">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="option">
                                  <xsd:complexType>
                                    <xsd:simpleContent>
                                      <xsd:extension base="xsd:byte">
                                        <xsd:attribute type="xsd:string" name="key" use="optional"/>
                                      </xsd:extension>
                                    </xsd:simpleContent>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                              <xsd:attribute type="xsd:string" name="id" use="optional"/>
                              <xsd:attribute type="xsd:string" name="controller" use="optional"/>
                              <xsd:attribute type="xsd:string" name="module" use="optional"/>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="post" minOccurs="0">
                            <xsd:complexType>
                              <xsd:simpleContent>
                                <xsd:extension base="xsd:string">
                                  <xsd:attribute type="xsd:string" name="id"/>
                                  <xsd:attribute type="xsd:string" name="controller"/>
                                  <xsd:attribute type="xsd:string" name="module"/>
                                </xsd:extension>
                              </xsd:simpleContent>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute type="xsd:string" name="id" use="optional"/>
                        <xsd:attribute type="xsd:string" name="module" use="optional"/>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute type="xsd:string" name="id" use="optional"/>
                  <xsd:attribute type="xsd:string" name="module" use="optional"/>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
            <xsd:attribute type="xsd:string" name="id" use="optional"/>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
</xsd:schema>
